<a href="https://colab.research.google.com/github/DhirajBembade/SQL/blob/main/SQL%20Practice%20Query%20Que-%20Sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Show first name, last name, and gender of patients who's gender is 'M'**

In [ ]:
SELECT first_name,last_name,gender FROM patients WHERE gender = 'M';  

  # OR

SELECT
  first_name,
  last_name,
  gender
FROM patients
WHERE gender = 'M';

# **Show first name and last name of patients who does not have allergies. (null)**

In [ ]:
SELECT first_name,last_name FROM patients where allergies is NULL;

#OR 

SELECT
  first_name,
  last_name
FROM patients
WHERE allergies IS NULL;

#**Show first name of patients that start with the letter 'C'**

In [ ]:
SELECT
  first_name
FROM
  patients
WHERE
  first_name LIKE 'C%'

#**Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)**

In [ ]:
SELECT
  first_name,
  last_name
FROM patients
WHERE weight BETWEEN 100 AND 120;

#**Update the patients table for the allergies column. If the patient's allergies is null then replace it with 'NKA'**

In [ ]:
SELECT *from patients;
    update patients
    set allergies = 'NKA'
    where allergies is NULL;

#**Show first name and last name concatinated into one column to show their full name.**

In [ ]:
SELECT
  CONCAT(first_name, ' ', last_name) AS full_name
FROM patients;

#**Show first name, last name, and the full province name of each patient.**
**Example: 'Ontario' instead of 'ON'**

In [ ]:
SELECT
  first_name,
  last_name,
  province_name
FROM patients
  JOIN province_names ON province_names.province_id = patients.province_id;

#**Show how many patients have a birth_date with 2010 as the birth year.**

In [ ]:
SELECT COUNT(*) AS total_patients
FROM patients
WHERE YEAR(birth_date) = 2010;

#Alternative Solutions

SELECT count(first_name) AS total_patients
FROM patients
WHERE
  birth_date >= '2010-01-01'
  AND birth_date <= '2010-12-31'

#**Show the first_name, last_name, and height of the patient with the greatest height.**

In [ ]:
SELECT
  first_name,
  last_name,
  MAX(height) AS height
FROM patients;

# Alternative Solutions

SELECT
  first_name,
  last_name,
  height
FROM patients
WHERE height = (
    SELECT max(height)
    FROM patients
  )

#**Show all columns for patients who have one of the following patient_ids:**
**1,45,534,879,1000**

In [ ]:
SELECT *
FROM patients
WHERE
  patient_id IN (1, 45, 534, 879, 1000);

#**Show the total number of admissions**

In [ ]:
SELECT COUNT(*) AS total_admissions
FROM admissions;

#**Show all the columns from admissions where the patient was admitted and discharged on the same day.**

In [ ]:
SELECT *
FROM admissions
WHERE admission_date = discharge_date;

#**Show the patient id and the total number of admissions for patient_id 579.** 

(Check Patient_id no in query)

In [ ]:
SELECT
  patient_id,
  COUNT(*) AS total_admissions
FROM admissions
WHERE patient_id = 579;

# **Based on the cities that our patients live in, show unique cities that are in province_id 'NS'?**

In [ ]:
select distinct(city) AS unique_city
from patients
where province_id ='NS';

# Alternative Solutions

SELECT city
FROM patients
GROUP BY city
HAVING province_id = 'NS';

#**Write a query to find the first_name, last name and birth date of patients who have height more than 160 and weight more than 70**

In [ ]:
SELECT first_name, last_name, birth_date FROM patients
WHERE height > 160 AND weight > 70;

#**Write a query to find list of patients first_name, last_name, and allergies from Hamilton where allergies are not null**

In [ ]:
SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  city = 'Hamilton'
  and allergies is not null

#**Based on cities where our patient lives in, write a query to display the list of unique city starting with a vowel (a, e, i, o, u). Show the result order in ascending by city.**

In [ ]:
select distinct city
from patients
where
  city like 'a%'
  or city like 'e%'
  or city like 'i%'
  or city like 'o%'
  or city like 'u%'
order by city

#**Show unique birth years from patients and order them by ascending.**

In [ ]:
SELECT
  DISTINCT YEAR(birth_date) AS birth_year
FROM patients
ORDER BY birth_year;

# Alternative Solutions

SELECT year(birth_date)
FROM patients
GROUP BY year(birth_date)

#**Show unique first names from the patients table which only occurs once in the list.**

**For example, if two or more people are named 'John' in the first_name column then don't include their name in the output list. If only 1 person is named 'Leo' then include them in the output.**

In [ ]:
SELECT first_name
FROM patients
GROUP BY first_name
HAVING COUNT(first_name) = 1

# Alternative Solutions

SELECT first_name
FROM (
    SELECT
      first_name,
      count(first_name) AS occurrencies
    FROM patients
    GROUP BY first_name
  )
WHERE occurrencies = 1

#**Show patient_id and first_name from patients where their first_name start and ends with 's' and is at least 6 characters long.**

In [ ]:
SELECT
  patient_id,
  first_name
FROM patients
WHERE first_name LIKE 's____%s';

# Alternative Solutions

SELECT
  patient_id,
  first_name
FROM patients
where
  first_name like 's%'
  and first_name like '%s'
  and len(first_name) >= 6;

# Alternative Solutions

SELECT
  patient_id,
  first_name
FROM patients
WHERE
  first_name LIKE 's%s'
  AND len(first_name) >= 6;

#**Show patient_id, first_name, last_name from patients whos diagnosis is 'Dementia'.**

**Primary diagnosis is stored in the admissions table.**

In [ ]:
SELECT
  patients.patient_id,
  first_name,
  last_name
FROM patients
  JOIN admissions ON admissions.patient_id = patients.patient_id
WHERE diagnosis = 'Dementia';

# Alternative Solutions

SELECT
  patient_id,
  first_name,
  last_name
FROM patients
WHERE patient_id IN (
    SELECT patient_id
    FROM admissions
    WHERE diagnosis = 'Dementia'
  );

#**Display every patient's first_name.**

**Order the list by the length of each name and then by alphbetically**

In [ ]:
SELECT first_name
FROM patients
order by
  len(first_name),
  first_name;

# **#Show the total amount of male patients and the total amount of female patients in the patients table.**

**Display the two results in the same row.**

In [ ]:
SELECT 
  (SELECT count(*) FROM patients WHERE gender='M') AS male_count, 
  (SELECT count(*) FROM patients WHERE gender='F') AS female_count;

# 

SELECT 
  SUM(Gender = 'M') as male_count, 
  SUM(Gender = 'F') AS female_count
FROM patients

#

select 
  sum(case when gender = 'M' then 1 end) as male_count,
  sum(case when gender = 'F' then 1 end) as female_count 
from patients;

# **#Show first and last name, allergies from patients which have allergies to either 'Penicillin' or 'Morphine'. Show results ordered ascending by allergies then by first_name then by last_name.**

In [ ]:
SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  allergies IN ('Penicillin', 'Morphine')
ORDER BY
  allergies,
  first_name,
  last_name;

  # Alt Soln

  SELECT
  first_name,
  last_name,
  allergies
FROM
  patients
WHERE
  allergies = 'Penicillin'
  OR allergies = 'Morphine'
ORDER BY
  allergies ASC,
  first_name ASC,
  last_name ASC;

# **#Show patient_id, diagnosis from admissions. Find patients admitted multiple times for the same diagnosis.**

In [ ]:
SELECT
  patient_id,
  diagnosis
FROM admissions
GROUP BY
  patient_id,
  diagnosis
HAVING COUNT(*) > 1;

# **#Show the city and the total number of patients in the city. Order from most to least patients and then by city name ascending.**

In [ ]:
SELECT
  city,
  COUNT(*) AS num_patients
FROM patients
GROUP BY city
ORDER BY num_patients DESC, city asc;

# **#Show first name, last name and role of every person that is either patient or doctor.**
**The roles are either "Patient" or "Doctor"**

In [ ]:
SELECT first_name, last_name, 'Patient' as role FROM patients
    union all
select first_name, last_name, 'Doctor' from doctors;

# **#Show all allergies ordered by popularity. Remove NULL values from query.**

In [ ]:
SELECT
  allergies,
  COUNT(*) AS total_diagnosis
FROM patients
WHERE
  allergies IS NOT NULL
GROUP BY allergies
ORDER BY total_diagnosis DESC

# Alt Soln

SELECT
  allergies,
  count(*)
FROM patients
WHERE allergies NOT NULL
GROUP BY allergies
ORDER BY count(*) DESC

# Alt Soln

SELECT
  allergies,
  count(allergies) AS total_diagnosis
FROM patients
GROUP BY allergies
HAVING
  allergies IS NOT NULL
ORDER BY total_diagnosis DESC

# **#Show all patient's first_name, last_name, and birth_date who were born in the 1970s decade. Sort the list starting from the earliest birth_date.**

In [ ]:
SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE
  YEAR(birth_date) BETWEEN 1970 AND 1979
ORDER BY birth_date ASC;

# Alt Soln

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE
  birth_date >= '1970-01-01'
  AND birth_date < '1980-01-01'
ORDER BY birth_date ASC

# Alt Soln

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE year(birth_date) LIKE '197%'
ORDER BY birth_date ASC

# **#We want to display each patient's full name in a single column. Their last_name in all upper letters must appear first, then first_name in all lower case letters. Separate the last_name and first_name with a comma. Order the list by the first_name in decending order**

**EX: SMITH,jane**

In [ ]:
SELECT
  CONCAT(UPPER(last_name), ',', LOWER(first_name)) AS new_name_format
FROM patients
ORDER BY first_name DESC;

# Alt Soln

SELECT
  UPPER(last_name) || ',' || LOWER(first_name) AS new_name_format
FROM patients
ORDER BY first_name DESC;

# **#Show the province_id(s), sum of height; where the total sum of its patient's height is greater than or equal to 7,000.**

In [ ]:
SELECT
  province_id,
  SUM(height) AS sum_height
FROM patients
GROUP BY province_id
HAVING sum_height >= 7000

# **#Show the difference between the largest weight and smallest weight for patients with the last name 'Maroni'**

In [ ]:
SELECT
  (MAX(weight) - MIN(weight)) AS weight_delta
FROM patients
WHERE last_name = 'Maroni';

# **#Show all of the days of the month (1-31) and how many admission_dates occurred on that day. Sort by the day with most admissions to least admissions.**

In [ ]:
SELECT
  DAY(admission_date) AS day_number,
  COUNT(*) AS number_of_admissions
FROM admissions
GROUP BY day_number
ORDER BY number_of_admissions DESC

# **#Show all columns for patient_id 542's most recent admission_date.**

In [ ]:
SELECT *
FROM admissions
WHERE patient_id = 542
GROUP BY patient_id
HAVING
  admission_date = MAX(admission_date);

  #Alt Soln

  SELECT *
FROM admissions
WHERE
  patient_id = '542'
  AND admission_date = (
    SELECT MAX(admission_date)
    FROM admissions
    WHERE patient_id = '542'
  )

  #Alt Soln

  SELECT *
FROM admissions
WHERE patient_id = 542
ORDER BY admission_date DESC
LIMIT 1

#Alt Soln

SELECT *
FROM admissions
GROUP BY patient_id
HAVING
  patient_id = 542
  AND max(admission_date)

# **#Show patient_id, attending_doctor_id, and diagnosis for admissions that match one of the two criteria:**

**1. patient_id is an odd number and attending_doctor_id is either 1, 5, or 19.**

**2. attending_doctor_id contains a 2 and the length of patient_id is 3 characters.**

In [ ]:
SELECT
  patient_id,
  attending_doctor_id,
  diagnosis
FROM admissions
WHERE
  (
    attending_doctor_id IN (1, 5, 19)
    AND patient_id % 2 != 0
  )
  OR 
  (
    attending_doctor_id LIKE '%2%'
    AND LEN(patient_id) = 3
  )

# **#