<a href="https://colab.research.google.com/github/DhirajBembade/SQL/blob/main/SQL%20Practice%20Query%20Que-%20Sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Show first name, last name, and gender of patients who's gender is 'M'**

In [ ]:
SELECT first_name,last_name,gender FROM patients WHERE gender = 'M';  

  # OR

SELECT
  first_name,
  last_name,
  gender
FROM patients
WHERE gender = 'M';

# **Show first name and last name of patients who does not have allergies. (null)**

In [ ]:
SELECT first_name,last_name FROM patients where allergies is NULL;

#OR 

SELECT
  first_name,
  last_name
FROM patients
WHERE allergies IS NULL;

#**Show first name of patients that start with the letter 'C'**

In [ ]:
SELECT
  first_name
FROM
  patients
WHERE
  first_name LIKE 'C%'

#**Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)**

In [ ]:
SELECT
  first_name,
  last_name
FROM patients
WHERE weight BETWEEN 100 AND 120;

#**Update the patients table for the allergies column. If the patient's allergies is null then replace it with 'NKA'**

In [ ]:
SELECT *from patients;
    update patients
    set allergies = 'NKA'
    where allergies is NULL;

#**Show first name and last name concatinated into one column to show their full name.**

In [ ]:
SELECT
  CONCAT(first_name, ' ', last_name) AS full_name
FROM patients;

#**Show first name, last name, and the full province name of each patient.**
**Example: 'Ontario' instead of 'ON'**

In [ ]:
SELECT
  first_name,
  last_name,
  province_name
FROM patients
  JOIN province_names ON province_names.province_id = patients.province_id;

#**Show how many patients have a birth_date with 2010 as the birth year.**

In [ ]:
SELECT COUNT(*) AS total_patients
FROM patients
WHERE YEAR(birth_date) = 2010;

#Alternative Solutions

SELECT count(first_name) AS total_patients
FROM patients
WHERE
  birth_date >= '2010-01-01'
  AND birth_date <= '2010-12-31'

#**Show the first_name, last_name, and height of the patient with the greatest height.**

In [ ]:
SELECT
  first_name,
  last_name,
  MAX(height) AS height
FROM patients;

# Alternative Solutions

SELECT
  first_name,
  last_name,
  height
FROM patients
WHERE height = (
    SELECT max(height)
    FROM patients
  )

#**Show all columns for patients who have one of the following patient_ids:**
**1,45,534,879,1000**

In [ ]:
SELECT *
FROM patients
WHERE
  patient_id IN (1, 45, 534, 879, 1000);

#**Show the total number of admissions**

In [ ]:
SELECT COUNT(*) AS total_admissions
FROM admissions;

#**Show all the columns from admissions where the patient was admitted and discharged on the same day.**

In [ ]:
SELECT *
FROM admissions
WHERE admission_date = discharge_date;

#**Show the patient id and the total number of admissions for patient_id 579.** 

(Check Patient_id no in query)

In [ ]:
SELECT
  patient_id,
  COUNT(*) AS total_admissions
FROM admissions
WHERE patient_id = 579;

# **Based on the cities that our patients live in, show unique cities that are in province_id 'NS'?**

In [ ]:
select distinct(city) AS unique_city
from patients
where province_id ='NS';

# Alternative Solutions

SELECT city
FROM patients
GROUP BY city
HAVING province_id = 'NS';

#**Write a query to find the first_name, last name and birth date of patients who have height more than 160 and weight more than 70**

In [ ]:
SELECT first_name, last_name, birth_date FROM patients
WHERE height > 160 AND weight > 70;

#**Write a query to find list of patients first_name, last_name, and allergies from Hamilton where allergies are not null**

In [ ]:
SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  city = 'Hamilton'
  and allergies is not null

#**Based on cities where our patient lives in, write a query to display the list of unique city starting with a vowel (a, e, i, o, u). Show the result order in ascending by city.**

In [ ]:
select distinct city
from patients
where
  city like 'a%'
  or city like 'e%'
  or city like 'i%'
  or city like 'o%'
  or city like 'u%'
order by city

#**Show unique birth years from patients and order them by ascending.**

In [ ]:
SELECT
  DISTINCT YEAR(birth_date) AS birth_year
FROM patients
ORDER BY birth_year;

# Alternative Solutions

SELECT year(birth_date)
FROM patients
GROUP BY year(birth_date)

#**Show unique first names from the patients table which only occurs once in the list.**

**For example, if two or more people are named 'John' in the first_name column then don't include their name in the output list. If only 1 person is named 'Leo' then include them in the output.**

In [ ]:
SELECT first_name
FROM patients
GROUP BY first_name
HAVING COUNT(first_name) = 1

# Alternative Solutions

SELECT first_name
FROM (
    SELECT
      first_name,
      count(first_name) AS occurrencies
    FROM patients
    GROUP BY first_name
  )
WHERE occurrencies = 1

#**Show patient_id and first_name from patients where their first_name start and ends with 's' and is at least 6 characters long.**

In [ ]:
SELECT
  patient_id,
  first_name
FROM patients
WHERE first_name LIKE 's____%s';

# Alternative Solutions

SELECT
  patient_id,
  first_name
FROM patients
where
  first_name like 's%'
  and first_name like '%s'
  and len(first_name) >= 6;

# Alternative Solutions

SELECT
  patient_id,
  first_name
FROM patients
WHERE
  first_name LIKE 's%s'
  AND len(first_name) >= 6;

#**Show patient_id, first_name, last_name from patients whos diagnosis is 'Dementia'.**

**Primary diagnosis is stored in the admissions table.**

In [ ]:
SELECT
  patients.patient_id,
  first_name,
  last_name
FROM patients
  JOIN admissions ON admissions.patient_id = patients.patient_id
WHERE diagnosis = 'Dementia';

# Alternative Solutions

SELECT
  patient_id,
  first_name,
  last_name
FROM patients
WHERE patient_id IN (
    SELECT patient_id
    FROM admissions
    WHERE diagnosis = 'Dementia'
  );

#**Display every patient's first_name.**

**Order the list by the length of each name and then by alphbetically**

In [ ]:
SELECT first_name
FROM patients
order by
  len(first_name),
  first_name;

# **#Show the total amount of male patients and the total amount of female patients in the patients table.**

**Display the two results in the same row.**

In [ ]:
SELECT 
  (SELECT count(*) FROM patients WHERE gender='M') AS male_count, 
  (SELECT count(*) FROM patients WHERE gender='F') AS female_count;

# 

SELECT 
  SUM(Gender = 'M') as male_count, 
  SUM(Gender = 'F') AS female_count
FROM patients

#

select 
  sum(case when gender = 'M' then 1 end) as male_count,
  sum(case when gender = 'F' then 1 end) as female_count 
from patients;

# **#Show first and last name, allergies from patients which have allergies to either 'Penicillin' or 'Morphine'. Show results ordered ascending by allergies then by first_name then by last_name.**

In [ ]:
SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  allergies IN ('Penicillin', 'Morphine')
ORDER BY
  allergies,
  first_name,
  last_name;

  # Alt Soln

  SELECT
  first_name,
  last_name,
  allergies
FROM
  patients
WHERE
  allergies = 'Penicillin'
  OR allergies = 'Morphine'
ORDER BY
  allergies ASC,
  first_name ASC,
  last_name ASC;

# **#Show patient_id, diagnosis from admissions. Find patients admitted multiple times for the same diagnosis.**

In [ ]:
SELECT
  patient_id,
  diagnosis
FROM admissions
GROUP BY
  patient_id,
  diagnosis
HAVING COUNT(*) > 1;

# **#Show the city and the total number of patients in the city. Order from most to least patients and then by city name ascending.**

In [ ]:
SELECT
  city,
  COUNT(*) AS num_patients
FROM patients
GROUP BY city
ORDER BY num_patients DESC, city asc;

# **#Show first name, last name and role of every person that is either patient or doctor.**
**The roles are either "Patient" or "Doctor"**

In [ ]:
SELECT first_name, last_name, 'Patient' as role FROM patients
    union all
select first_name, last_name, 'Doctor' from doctors;

# **#Show all allergies ordered by popularity. Remove NULL values from query.**

In [ ]:
SELECT
  allergies,
  COUNT(*) AS total_diagnosis
FROM patients
WHERE
  allergies IS NOT NULL
GROUP BY allergies
ORDER BY total_diagnosis DESC

# Alt Soln

SELECT
  allergies,
  count(*)
FROM patients
WHERE allergies NOT NULL
GROUP BY allergies
ORDER BY count(*) DESC

# Alt Soln

SELECT
  allergies,
  count(allergies) AS total_diagnosis
FROM patients
GROUP BY allergies
HAVING
  allergies IS NOT NULL
ORDER BY total_diagnosis DESC

# **#Show all patient's first_name, last_name, and birth_date who were born in the 1970s decade. Sort the list starting from the earliest birth_date.**

In [ ]:
SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE
  YEAR(birth_date) BETWEEN 1970 AND 1979
ORDER BY birth_date ASC;

# Alt Soln

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE
  birth_date >= '1970-01-01'
  AND birth_date < '1980-01-01'
ORDER BY birth_date ASC

# Alt Soln

SELECT
  first_name,
  last_name,
  birth_date
FROM patients
WHERE year(birth_date) LIKE '197%'
ORDER BY birth_date ASC

# **#We want to display each patient's full name in a single column. Their last_name in all upper letters must appear first, then first_name in all lower case letters. Separate the last_name and first_name with a comma. Order the list by the first_name in decending order**

**EX: SMITH,jane**

In [ ]:
SELECT
  CONCAT(UPPER(last_name), ',', LOWER(first_name)) AS new_name_format
FROM patients
ORDER BY first_name DESC;

# Alt Soln

SELECT
  UPPER(last_name) || ',' || LOWER(first_name) AS new_name_format
FROM patients
ORDER BY first_name DESC;

# **#Show the province_id(s), sum of height; where the total sum of its patient's height is greater than or equal to 7,000.**

In [ ]:
SELECT
  province_id,
  SUM(height) AS sum_height
FROM patients
GROUP BY province_id
HAVING sum_height >= 7000

# **#Show the difference between the largest weight and smallest weight for patients with the last name 'Maroni'**

In [ ]:
SELECT
  (MAX(weight) - MIN(weight)) AS weight_delta
FROM patients
WHERE last_name = 'Maroni';

# **#Show all of the days of the month (1-31) and how many admission_dates occurred on that day. Sort by the day with most admissions to least admissions.**

In [ ]:
SELECT
  DAY(admission_date) AS day_number,
  COUNT(*) AS number_of_admissions
FROM admissions
GROUP BY day_number
ORDER BY number_of_admissions DESC

# **#Show all columns for patient_id 542's most recent admission_date.**

In [ ]:
SELECT *
FROM admissions
WHERE patient_id = 542
GROUP BY patient_id
HAVING
  admission_date = MAX(admission_date);

  #Alt Soln

  SELECT *
FROM admissions
WHERE
  patient_id = '542'
  AND admission_date = (
    SELECT MAX(admission_date)
    FROM admissions
    WHERE patient_id = '542'
  )

  #Alt Soln

  SELECT *
FROM admissions
WHERE patient_id = 542
ORDER BY admission_date DESC
LIMIT 1

#Alt Soln

SELECT *
FROM admissions
GROUP BY patient_id
HAVING
  patient_id = 542
  AND max(admission_date)

# **#Show patient_id, attending_doctor_id, and diagnosis for admissions that match one of the two criteria:**

**1. patient_id is an odd number and attending_doctor_id is either 1, 5, or 19.**

**2. attending_doctor_id contains a 2 and the length of patient_id is 3 characters.**

In [ ]:
SELECT
  patient_id,
  attending_doctor_id,
  diagnosis
FROM admissions
WHERE
  (
    attending_doctor_id IN (1, 5, 19)
    AND patient_id % 2 != 0
  )
  OR 
  (
    attending_doctor_id LIKE '%2%'
    AND LEN(patient_id) = 3
  )

# **#Show first_name, last_name, and the total number of admissions attended for each doctor.**

**Every admission has been attended by a doctor.**

In [ ]:
SELECT
  first_name,
  last_name,
  count(*) as admissions_total
from admissions a
  join doctors ph on ph.doctor_id = a.attending_doctor_id
group by attending_doctor_id


# Alt Soln

SELECT
  first_name,
  last_name,
  count(*)
from
  doctors p,
  admissions a
where
  a.attending_doctor_id = p.doctor_id
group by p.doctor_id;

#  **#For each doctor, display their id, full name, and the first and last admission date they attended.**

In [ ]:
select
  doctor_id,
  first_name || ' ' || last_name as full_name,
  min(admission_date) as first_admission_date,
  max(admission_date) as last_admission_date
from admissions a
  join doctors ph on a.attending_doctor_id = ph.doctor_id
group by doctor_id;

# **#Display the total amount of patients for each province. Order by descending.**

In [ ]:
SELECT
  province_name,
  COUNT(*) as patient_count
FROM patients pa
  join province_names pr on pr.province_id = pa.province_id
group by pr.province_id
order by patient_count desc;

# **#For every admission, display the patient's full name, their admission diagnosis, and their doctor's full name who diagnosed their problem**

In [ ]:
SELECT
  CONCAT(patients.first_name, ' ', patients.last_name) as patient_name,
  diagnosis,
  CONCAT(doctors.first_name,' ',doctors.last_name) as doctor_name
FROM patients
  JOIN admissions ON admissions.patient_id = patients.patient_id
  JOIN doctors ON doctors.doctor_id = admissions.attending_doctor_id;

# **#display the number of duplicate patients based on their first_name and last_name**

In [ ]:
select
  first_name,
  last_name,
  count(*) as num_of_duplicates
from patients
group by
  first_name,
  last_name
having count(*) > 1

# **# Display patient's full name,height in the units feet rounded to 1 decimal,weight in the unit pounds rounded to 0 decimals, birth_date,gender non abbreviated.**

**Convert CM to feet by dividing by 30.48.**
**Convert KG to pounds by multiplying by 2.205.**

In [ ]:
select
    concat(first_name, ' ', last_name) AS 'patient_name', 
    ROUND(height / 30.48, 1) as 'height "Feet"', 
    ROUND(weight * 2.205, 0) AS 'weight "Pounds"', birth_date,
CASE
	WHEN gender = 'M' THEN 'MALE' 
  ELSE 'FEMALE' 
END AS 'gender_type'
from patients

# **#Show all of the patients grouped into weight groups. Show the total amount of patients in each weight group. Order the list by the weight group decending.**

**For example -- if they weight 100 to 109 they are placed in the 100 weight group, 110-119 = 110 weight group, etc.**

In [ ]:
SELECT
  COUNT(*) AS patients_in_group,
  FLOOR(weight / 10) * 10 AS weight_group
FROM patients
GROUP BY weight_group
ORDER BY weight_group DESC;

#Alt Soln

SELECT
  TRUNCATE(weight, -1) AS weight_group,
  count(*)
FROM patients
GROUP BY weight_group
ORDER BY weight_group DESC;

#Alt Soln

SELECT
  count(patient_id),
  weight - weight % 10 AS weight_group
FROM patients
GROUP BY weight_group
ORDER BY weight_group DESC

# **#Show patient_id, weight, height, isObese from the patients table.**

**Display isObese as a boolean 0 or 1.**

**Obese is defined as weight(kg)/(height(m)2) >= 30.**

**weight is in units kg.**

**height is in units cm.**

In [ ]:
SELECT patient_id, weight, height, 
  (CASE 
      WHEN weight/(POWER(height/100.0,2)) >= 30 THEN
          1
      ELSE
          0
      END) AS isObese
FROM patients;

#Alt Soln

SELECT
  patient_id,
  weight,
  height,
  weight / power(CAST(height AS float) / 100, 2) >= 30 AS obese
FROM patients

# **#Show patient_id, first_name, last_name, and attending doctor's specialty. Show only the patients who has a diagnosis as 'Epilepsy' and the doctor's first name is 'Lisa'**

**Check patients, admissions, and doctors tables for required information.**

In [ ]:
SELECT
  p.patient_id,
  p.first_name AS patient_first_name,
  p.last_name AS patient_last_name,
  ph.specialty AS attending_doctor_specialty
FROM patients p
  JOIN admissions a ON a.patient_id = p.patient_id
  JOIN doctors ph ON ph.doctor_id = a.attending_doctor_id
WHERE
  ph.first_name = 'Lisa' and
  a.diagnosis = 'Epilepsy'

  #Alt Son

  SELECT
  pa.patient_id,
  pa.first_name,
  pa.last_name,
  ph1.specialty
FROM patients AS pa
  JOIN (
    SELECT *
    FROM admissions AS a
      JOIN doctors AS ph ON a.attending_doctor_id = ph.doctor_id
  ) AS ph1 USING (patient_id)
WHERE
  ph1.diagnosis = 'Epilepsy'
  AND ph1.first_name = 'Lisa'


  # Alt Soln

  SELECT
  a.patient_id,
  a.first_name,
  a.last_name,
  b.specialty
FROM
  patients a,
  doctors b,
  admissions c
WHERE
  a.patient_id = c.patient_id
  AND c.attending_doctor_id = b.doctor_id
  AND c.diagnosis = 'Epilepsy'
  AND b.first_name = 'Lisa';

  #Alt Soln

  with patient_table as (
    SELECT
      patients.patient_id,
      patients.first_name,
      patients.last_name,
      admissions.attending_doctor_id
    FROM patients
      JOIN admissions ON patients.patient_id = admissions.patient_id
    where
      admissions.diagnosis = 'Epilepsy'
  )
select
  patient_table.patient_id,
  patient_table.first_name,
  patient_table.last_name,
  doctors.specialty
from patient_table
  JOIN doctors ON patient_table.attending_doctor_id = doctors.doctor_id
WHERE doctors.first_name = 'Lisa';

# **#All patients who have gone through admissions, can see their medical documents on our site. Those patients are given a temporary password after their first admission. Show the patient_id and temp_password.**

**The password must be the following, in order:**

**1. patient_id**

**2. the numerical length of patient's last_name**

**3. year of patient's birth_date**

In [ ]:
SELECT
  DISTINCT P.patient_id,
  CONCAT(
    P.patient_id,
    LEN(last_name),
    YEAR(birth_date)
  ) AS temp_password
FROM patients P
  JOIN admissions A ON A.patient_id = P.patient_id

  #Alt Soln

  select
  distinct p.patient_id,
  p.patient_id || floor(len(last_name)) || floor(year(birth_date)) as temp_password
from patients p
  join admissions a on p.patient_id = a.patient_id

  #Alt Soln

  select
  pa.patient_id,
  ad.patient_id || floor(len(pa.last_name)) || floor(year(pa.birth_date)) as temp_password
from patients pa
  join admissions ad on pa.patient_id = ad.patient_id
group by pa.patient_id;

# **#Each admission costs $50 for patients without insurance& $$10  for patients with insurance. All patients with an even patient_id have insurance.**

**Give each patient a 'Yes' if they have insurance, and a 'No' if they don't have insurance. Add up the admission_total cost for each has_insurance group.**

In [ ]:
SELECT 
CASE WHEN patient_id % 2 = 0 Then 
    'Yes'
ELSE 
    'No' 
END as has_insurance,
SUM(CASE WHEN patient_id % 2 = 0 Then 
    10
ELSE 
    50 
END) as cost_after_insurance
FROM admissions 
GROUP BY has_insurance;

# Alt Soln

select 'No' as has_insurance, count(*) * 50 as cost
from admissions where patient_id % 2 = 1 group by has_insurance
union
select 'Yes' as has_insurance, count(*) * 10 as cost
from admissions where patient_id % 2 = 0 group by has_insurance


#Alt Soln

SELECT
  has_insurance,
  CASE
    WHEN has_insurance = 'Yes' THEN COUNT(has_insurance) * 10
    ELSE count(has_insurance) * 50
  END AS cost_after_insurance
FROM (
    SELECT
      CASE
        WHEN patient_id % 2 = 0 THEN 'Yes'
        ELSE 'No'
      END AS has_insurance
    FROM admissions
  )
GROUP BY has_insurance


#Alt Soln

select has_insurance,sum(admission_cost) as admission_total
from
(
   select patient_id,
   case when patient_id % 2 = 0 then 'Yes' else 'No' end as has_insurance,
   case when patient_id % 2 = 0 then 10 else 50 end as admission_cost
   from admissions
)
group by has_insurance

# **#Show the provinces that has more patients identified as 'M' than 'F'. Must only show full province_name**

In [ ]:
SELECT pr.province_name
FROM patients AS pa
  JOIN province_names AS pr ON pa.province_id = pr.province_id
GROUP BY pr.province_name
HAVING
  COUNT( CASE WHEN gender = 'M' THEN 1 END) > COUNT( CASE WHEN gender = 'F' THEN 1 END);


  # Alt Soln

SELECT province_name
FROM (
    SELECT
      province_name,
      SUM(gender = 'M') AS n_male,
      SUM(gender = 'F') AS n_female
    FROM patients pa
      JOIN province_names pr ON pa.province_id = pr.province_id
    GROUP BY province_name
  )
WHERE n_male > n_female

#Alt Soln

SELECT pr.province_name
FROM patients AS pa
  JOIN province_names AS pr ON pa.province_id = pr.province_id
GROUP BY pr.province_name
HAVING
  SUM(gender = 'M') > SUM(gender = 'F');

  # Alt Soln

  SELECT province_name
FROM patients p
  JOIN province_names r ON p.province_id = r.province_id
GROUP BY province_name
HAVING
  SUM(CASE WHEN gender = 'M' THEN 1 ELSE -1 END) > 0

  # Alt Soln

  SELECT pr.province_name
FROM patients AS pa
  JOIN province_names AS pr ON pa.province_id = pr.province_id
GROUP BY pr.province_name
HAVING
  COUNT( CASE WHEN gender = 'M' THEN 1 END) > COUNT(*) * 0.5;

# **#We are looking for a specific patient. Pull all columns for the patient who matches the following criteria:**

- First_name contains an 'r' after the first two letters.
- Identifies their gender as 'F'
- Born in February, May, or December
- Their weight would be between 60kg and 80kg
- Their patient_id is an odd number
- They are from the city 'Kingston'

In [ ]:
SELECT *
FROM patients
WHERE
  first_name LIKE '__r%'
  AND gender = 'F'
  AND MONTH(birth_date) IN (2, 5, 12)
  AND weight BETWEEN 60 AND 80
  AND patient_id % 2 = 1
  AND city = 'Kingston';

# **#Show the percent of patients that have 'M' as their gender. Round the answer to the nearest hundreth number and in percent form.**

In [ ]:
SELECT CONCAT(
    ROUND(
      (
        SELECT COUNT(*)
        FROM patients
        WHERE gender = 'M'
      ) / CAST(COUNT(*) as float),
      4
    ) * 100,
    '%'
  ) as percent_of_male_patients
FROM patients;

# Alt Soln

SELECT 
   CONCAT(ROUND(SUM(gender='M') / CAST(COUNT(*) AS float), 4) * 100, '%')
FROM patients;

# Alt Soln

SELECT
  round(100 * avg(gender = 'M'), 2) || '%' AS percent_of_male_patients
FROM
  patients;

#**#For each day display the total amount of admissions on that day. Display the amount changed from the previous date.**

In [ ]:
SELECT
 admission_date,
 count(admission_date) as admission_day,
 count(admission_date) - LAG(count(admission_date)) OVER(ORDER BY admission_date) AS admission_count_change 
FROM admissions
 group by admission_date

 # Alt Soln

 WITH admission_counts_table AS (
  SELECT admission_date, COUNT(patient_id) AS admission_count
  FROM admissions
  GROUP BY admission_date
  ORDER BY admission_date DESC
)
select
  admission_date, 
  admission_count, 
  admission_count - LAG(admission_count) OVER(ORDER BY admission_date) AS admission_count_change 
from admission_counts_table

# **#Sort the province names in ascending order in such a way that the province 'Ontario' is always on top.**

In [ ]:
select province_name
from province_names
order by
  (case when province_name = 'Ontario' then 0 else 1 end),
  province_name

  # Alt Soln

  select province_name
from province_names
order by
  (not province_name = 'Ontario'),
  province_name

  #Alt Soln

  select province_name
from province_names
order by
  province_name = 'Ontario' desc,
  province_name