<a href="https://colab.research.google.com/github/DhirajBembade/SQL/blob/main/SQL%20Practice%20Query%20Que-%20Sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Show first name, last name, and gender of patients who's gender is 'M'**

In [ ]:
SELECT first_name,last_name,gender FROM patients WHERE gender = 'M';  

  # OR

SELECT
  first_name,
  last_name,
  gender
FROM patients
WHERE gender = 'M';

# **Show first name and last name of patients who does not have allergies. (null)**

In [ ]:
SELECT first_name,last_name FROM patients where allergies is NULL;

#OR 

SELECT
  first_name,
  last_name
FROM patients
WHERE allergies IS NULL;

#**Show first name of patients that start with the letter 'C'**

In [ ]:
SELECT
  first_name
FROM
  patients
WHERE
  first_name LIKE 'C%'

#**Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)**

In [ ]:
SELECT
  first_name,
  last_name
FROM patients
WHERE weight BETWEEN 100 AND 120;

#**Update the patients table for the allergies column. If the patient's allergies is null then replace it with 'NKA'**

In [ ]:
SELECT *from patients;
    update patients
    set allergies = 'NKA'
    where allergies is NULL;

#**Show first name and last name concatinated into one column to show their full name.**

In [ ]:
SELECT
  CONCAT(first_name, ' ', last_name) AS full_name
FROM patients;

#**Show first name, last name, and the full province name of each patient.**
**Example: 'Ontario' instead of 'ON'**

In [ ]:
SELECT
  first_name,
  last_name,
  province_name
FROM patients
  JOIN province_names ON province_names.province_id = patients.province_id;

#**Show how many patients have a birth_date with 2010 as the birth year.**

In [ ]:
SELECT COUNT(*) AS total_patients
FROM patients
WHERE YEAR(birth_date) = 2010;

#Alternative Solutions

SELECT count(first_name) AS total_patients
FROM patients
WHERE
  birth_date >= '2010-01-01'
  AND birth_date <= '2010-12-31'

#**Show the first_name, last_name, and height of the patient with the greatest height.**

In [ ]:
SELECT
  first_name,
  last_name,
  MAX(height) AS height
FROM patients;

# Alternative Solutions

SELECT
  first_name,
  last_name,
  height
FROM patients
WHERE height = (
    SELECT max(height)
    FROM patients
  )

#**Show all columns for patients who have one of the following patient_ids:**
**1,45,534,879,1000**

In [ ]:
SELECT *
FROM patients
WHERE
  patient_id IN (1, 45, 534, 879, 1000);

#**Show the total number of admissions**

In [ ]:
SELECT COUNT(*) AS total_admissions
FROM admissions;

#**Show all the columns from admissions where the patient was admitted and discharged on the same day.**

In [ ]:
SELECT *
FROM admissions
WHERE admission_date = discharge_date;

#**Show the patient id and the total number of admissions for patient_id 579.** 

(Check Patient_id no in query)

In [ ]:
SELECT
  patient_id,
  COUNT(*) AS total_admissions
FROM admissions
WHERE patient_id = 579;

# **Based on the cities that our patients live in, show unique cities that are in province_id 'NS'?**

In [ ]:
select distinct(city) AS unique_city
from patients
where province_id ='NS';

# Alternative Solutions

SELECT city
FROM patients
GROUP BY city
HAVING province_id = 'NS';